.mealsIntro {
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;
	max-width: 1000px;
	border-radius: 1em;
	margin: 0 auto;
	filter: drop-shadow(4px 4px 16px rgba(255, 255, 255, 0.1));
	transform: translateY(-80px);
}
